<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z90M60897E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z90M60897E');
    </script>
    <meta charset="utf-8">
    <title>Estatísticas</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/estatisticas.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" data-selected-option="Opção 5">
                            Quantos vacinados receberam cada tipo de dose da vacina?
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="estatisticas.html"
                                    onclick="updateSelectedOption(this)">Quantos vacinados pertencem a cada grupo
                                    étnico/racial registrado no banco de dados?</a></li>
                            <li><a class="dropdown-item" href="estabelecimento.html"
                                    onclick="updateSelectedOption(this)">Quais são os estabelecimentos que realizaram a
                                    vacinação em Aracaju?</a></li>
                            <li><a class="dropdown-item" href="grupo_de_atendimento.html"
                                    onclick="updateSelectedOption(this)">Quantos vacinados pertencem a cada grupo de
                                    atendimento registrado no banco de dados?</a></li>
                            <li><a class="dropdown-item" href="categoria.html"
                                    onclick="updateSelectedOption(this)">Quais são as categorias mais frequentes entre
                                    os vacinados?</a></li>
                            <li><a class="dropdown-item" href="sexo_biologico.html"
                                    onclick="updateSelectedOption(this)">Quais são as quantidades de vacinas que foram
                                    aplicadas por sexo biológico?</a></li>
                            <li><a class="dropdown-item active" href="tipo-dose.html"
                                    onclick="updateSelectedOption(this)">Quantos vacinados receberam cada tipo de dose
                                    da vacina?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row align-vertical mb-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total de Vacinados</h5>
                        <p class="card-text" id="vacinados">carregando...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total de Estabelecimentos</h5>
                        <p class="card-text" id="estabelecimentos">carregando...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total de Estrangeiros</h5>
                        <p class="card-text" id="estrangeiros">carregando...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fabricante com mais doses</h5>
                        <p class="card-text" id="doses">carregando...</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 id="6" class="titulo">Quantos vacinados receberam cada tipo de dose da vacina?</h3>
        </div>

        <div id="filtro-data" class="filtro-container mb-3">
            <label for="data-inicial" class="filtro-label">Data Inicial:</label>
            <input type="date" id="data-inicial" class="filtro-input" min="2000-01-01" max="2023-12-31">
            <label for="data-final" class="filtro-label">Data Final:</label>
            <input type="date" id="data-final" class="filtro-input" min="2000-01-01" max="2023-12-31">
            <button id="aplicar-filtro" class="filtro-button">Aplicar</button>
        </div>

        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Carregando...</span>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script>
            function updateSelectedOption(element) {
                const dropdownToggle = document.querySelector('.dropdown-toggle');
                const selectedOption = element.textContent;
                dropdownToggle.setAttribute('data-selected-option', selectedOption);
                dropdownToggle.textContent = selectedOption;
            }
        </script>

        <script>
            const dropdownItems = document.querySelectorAll('.dropdown-item');

            dropdownItems.forEach(item => {
                item.addEventListener('click', function () {
                    dropdownItems.forEach(item => {
                        item.classList.remove('active');
                    });

                    this.classList.add('active');
                });
            });



        </script>

        <script type="module" src="../js/components/grafico/grafico.js"></script>
        <script type="module" src="../js/components/grafico/quantidades.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>