body {
    text-align: center !important;
    padding-top: 80px !important;
    background: whitesmoke !important;
    color: #0b0147 !important;
    font-family: Segoe Ui Light !important;
    overflow-x: hidden !important;
}

.align-vertical {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.card-body {
    background-color: #0b0147 !important;
    border-radius: 4px !important;
    color: white !important;
    padding: 5px !important;
}

.card-text {
    font-family: Segoe UI !important;
    font-size: 25px !important;
}

.card-title {
    font-size: 15px !important;
    margin-bottom: 0px !important;
}

footer {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 15px !important;
    margin-bottom: 0px !important;
}

.navbar {
    background-color: #0b0147 !important;
    margin-top: 0px !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold !important;
    margin-left: 0px !important;
}

.navbar-brand:hover {
    color: white !important;
}

.navbar .btn-voltar {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}

.navbar .btn-voltar:hover {
    color: #c8d8e3 !important;
}

.navbar .dropdown-toggle {
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    background-color: transparent !important;
}

.navbar .dropdown-toggle:hover {
    color: white !important;
}

.dropdown-menu {
    background-color: #0b0147 !important;
}

.active:hover {
    color: gray !important;
}

.dropdown-menu a {
    color: white !important;
}

.dropdown-menu a:hover {
    background-color: white !important;
    color: gray !important;
}

#grafico {
    width: 75% !important;
    height: 80% !important;
}

#chart {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 50px !important;
}

.dropdown {
    color: #0b0147 !important;
    text-decoration: none !important;
}

.basic-buttom {
    display: inline-block !important;
    padding: 12px 24px !important;
    background-color: #0b0147 !important;
    color: white !important;
    text-decoration: none !important;
    font-size: 18px !important;
    border-radius: 4px !important;
    transition: background-color 0.3s ease !important;
}

.elementos-graficos {
    margin-bottom: 200px !important;
}

.filtro-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 30px !important;
}

.filtro-label {
    font-weight: bold !important;
    margin-right: 10px !important;
}

.filtro-input {
    padding: 5px !important;
    margin-right: 10px !important;
}

.filtro-button {
    background-color: #0b0147 !important;
    color: #fff !important;
    border: none !important;
    padding: 8px 15px !important;
    cursor: pointer !important;
    border-radius: 4px !important;
}

.filtro-button:hover {
    background-color: #5e6277 !important;
}

.titulo{
    font-weight: bold;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  